<!DOCTYPE html>
<html>
<head>
	<title>Сайт школы-гимназии №6</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="shared_files/tamplate.css">
	<link rel="shortcut icon" type="image/x-icon" href="shared_files/images/favicon_six.png">

	<link rel="stylesheet" type="text/css" href="/sections_pages/news/opened_article/opened_article.css">
</head>
<body>
	<header>
		<div id="header_conteiner">
			<a href="/index.html"><img src="shared_files/images/book.png" style="height: 125px; cursor: pointer; float: left;"></a>
			<div id="site_name_div">
				<a href="/index.html"><h1 style="margin: 0px; font-size: 33px;">
					ОФИЦИАЛЬНЫЙ САЙТ <br> СРЕДНЕЙ ШКОЛЫ-ГИМНАЗИИ №6 <br> г.КАРА-БАЛТА
				</h1></a>
			</div>		
			<img src="/shared_files/images/gerb.png" style="height: 125px; margin: 0px 30px 0px 110px;">
			<img src="/shared_files/images/flag.png" style="height: 125px;">
		</div>		
	</header>


	<div id="main">
		<div id="menu">
			<a href="/index.html"><div class="sections">ГЛАВНАЯ</div></a>
			<form method="GET" action="/news" id="news_button_form">
				<div class="sections">НОВОСТИ ШКОЛЫ</div>
			</form>
			<a href="sections_pages/timetable/timetable.html"><div class="sections">РАСПИСАНИЕ</div></a>
			<form method="GET" action="/gallery" id="gallery_button_form">
				<div class="sections">ФОТОГАЛЕРЕЯ</div>
			</form>
			<a href="/sections_pages/school_collective/school_collective.html"><div class="sections" style="padding-top: 5px;">ШКОЛЬНЫЙ КОЛЛЕКТИВ</div></a>
			<a href="/sections_pages/children_and_parents/children_and_parents.html"><div class="sections" style="padding-top: 5px;">ДЕТЯМ И <br> РОДИТЕЛЯМ</div></a>
			<a href="/sections_pages/we_are_proud_of_you/we_are_proud_of_you.html"><div class="sections" style="width: 174px; padding-top: 5px;">МЫ ГОРДИМСЯ <br> ВАМИ</div></a>
		</div>
		<div id="content">
			<div class="section_header">
				НОВОСТИ ШКОЛЫ
			</div>

			<div id="opened_article">
				<h2 id="opened_article_name">{{article_name}}</h2>

				<div id="opened_article_text">
					{{{text}}}
				</div>


				<div class ="information_about_opened_article">
					<div class="date_of_opened_article">
						<span>Добавлено: </span></span><span id="opened_article_date_day">{{dd}}</span>.<span id="opened_article_date_month">{{mm}}</span>.<span id="opened_article_date_year">{{yyyy}}</span>
					</div>

					<form method="GET" action="/news" id="back_to_news_form">
						<div id="back_to_news" class="button">НАЗАД</div>
					</form>
				</div>	
			</div>
		</div>
	</div>

	<footer>
		<div id="about_us">
			<span style="font-size: 20px; font-weight: bold; color: #004E8B; width: 650px; float: left; margin-bottom: 10px;">КАК С НАМИ СВЯЗАТЬСЯ:</span>

			<div id="about_us_articles">
				<p>Директор:</p>
				<p style="margin-top:45px;">Адрес:</p>
				<p>Почтовый индекс:</p>
				<p>Контактный телефон:</p>
				<p>Электронный адрес:</p>
			</div>

			<div id="about_us_values">
				<p style="margin-bottom: 0px;">Дебелая Елена Николаевна</p>
				<p style="margin: 0px;">+996772432902</p>
				<p style="margin: 0px;">elena30@rambler.ru</p>

				<p>г.Кара-Балта, ул.Ленина 10</p>

				<p>724411</p>

				<p>03133-33292</p>

				<p>jailroo6@mail.ru</p>
			</div>
		</div>

		<div id="useful_links">
			<span style="font-size: 20px; font-weight: bold; color: #004E8B; width: 300px; float: left; margin-bottom: 10px;">ПОЛЕЗНЫЕ ССЫЛКИ:</span>

			<br>
			<br>

			<ul style="padding-left: 16px;">
				<li><p><a href="http://kbcity.kg/">Городской портал г.Кара-Балта</a></p></li>
				<li><p><a href="http://edu.gov.kg/">Сайт министерства образования и науки Кыргызской Республики</a></p></li>
				<li><p><a href="http://www.gov.kg/">Сайт правительства Кыргызской Республики</a></p></li>
			</ul>
		</div>
	</footer>

	<script type="text/javascript" src="/shared_files/plugins/to_top_button/jquery-3.2.1.min.js"></script>
	<div id="to_top_button"><img src="/shared_files/plugins/to_top_button/to_up_button4.png" width="50px"></div>
	<script type="text/javascript" src="/shared_files/plugins/to_top_button/to_top_button.js"></script>

	<script type="text/javascript" src="/shared_files/js/send_request.js"></script>

	<script type="text/javascript">
		var back_to_news_form = document.body.querySelector('#back_to_news_form');

		back_to_news_form.onclick = function(){
			this.submit();
		}
	</script>
</body>
</html>